{% extends 'core/blog.html' %}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="col-lg-6">
            <h1>{{msj}}</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.media}}
                    {{form.as_table}}
                </table>
                <p></p>
                <button class="btn btn-primary btn-block mb-4">Aplicar</button>
            </form>
            <script>
                var autor = "{{ user.id }}";
                document.getElementById("autor").value = autor
            </script>
        </div>
    </div>
</section>
{% endblock contenido %}